<br>
<h1>Products published by you</h1>
<br>
<div class="container">
  <div class="row">
    {{#each products}}
    <div class="col-sm-12 col-md-6 col-lg-6">
      <div class="card" style="width: 500px;">
        <img style="width: auto; height: 300px" class="card-img-top" src="{{imagePath}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Product name: {{name}}</h5>
          <p class="card-text">About {{name}}: {{description}}</p>
          <span>Price: ${{price}}</span>
          <br>
          <br>
          <div class="two-btns">
            <a href="/product-details/{{id}}" class="btn btn-primary">See more</a>
            <a href="/edit-product/{{id}}" class="btn btn-primary">Edit product</a>
          </div>
        </div>
      </div>
      <br>
      <br>
    </div>
    {{/each}}
  </div>
</div>