<h1>my own products</h1>

{{#each products}}
<br>
Product name: {{name}}
<br>
Product description: {{description}}
<br>
Price: ${{price}}
<img src="{{imagePath}}" alt="">
<br>
{{!-- {{#if asdads}} --}}
<a href="/edit-product/{{id}}">Edit post</a>
{{!-- {{/if}} --}}
{{/each}}